<div class="signin-content">
  <mat-card>
    <mat-sidenav-container class="example-container">
      <mat-sidenav #drawer mode="side" opened role="navigation">
        <mat-nav-list>
          <a mat-list-item [routerLink]="[{ outlets: { outlet1: ['coursecontentcomponent'] } }]" [queryParams] = "{title : this.title, instructorId: this.instructorId}" class="btn btn-primary">Course</a>
          <a mat-list-item [routerLink]="[{ outlets: { outlet1: ['addcoursecomponent'] } }]" [queryParams] = "{title : this.title, instructorId: this.instructorId}" class="btn btn-primary">Add Course File</a>
          <a mat-list-item [routerLink]="[{ outlets: { outlet1: ['AddAssignmentComponent'] } }]" [queryParams] = "{title : this.title, instructorId: this.instructorId}" class="btn btn-primary">Assignments</a>
          <a mat-list-item [routerLink]="[{ outlets: { outlet1: ['AddAssignmentComponent'] } }]" [queryParams] = "{title : this.title, instructorId: this.instructorId}" class="btn btn-primary">Add Assignmet</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet name="outlet1"></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-card> 
</div>